# Base de datos
DB_NAME=ciudad_reporta
DB_USER=postgres
DB_PASSWORD=cambiar_esto

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=@gmail.com
MAIL_PASSWORD=contraseña_de_aplicacion
MAIL_SMTP_AUTH=true
MAIL_STARTTLS=true
